


{% extends 'layout.html' %} {% block title %} {{ book.title }} -> {{ book.isbn
}} {% endblock %} {% block body %}
<div class="container" style="margin-top: 70px">
	<h1 style="font-size: 55px;">
		{{ book.title }} ({{ book.year }})
		<div style="font-size: 25px; color: rgb(35, 188, 187);">by {{ book.author }}</div>
	</h1>

	<br />
	<h1 style="border-bottom: 2px solid rgb(35, 188, 187);">Reviews</h1>
	{% for rev in br %}
	<div class="card" style="padding-top: 5px; width: 18rem; margin-top: 10px;border: 1px solid rgb(35,188,187); border-radius: 5px;">
		<p style="font-style: italic; font-size:18px; padding-left:7px;">{{ rev.review }}</p>
		<p class="card-header" style="color: rgb(140, 140, 140);border-top: 1px solid #333; text-align: center; margin-bottom: -17px; margin-left: 0px;">by {{ rev.user_name }}</p>
		<br />
	</div>
	{% endfor %}
	<div>{% endblock %}</div>
</div>
